doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/style/style.css')
        script(src='/lib/socket.io.js')
        script(src="http://code.jquery.com/jquery-1.11.1.js")
    body
        block content
